{
	"General": {
		"messengerType": "TELEGRAM",
		"languageCode": "default",
		"checkInterval": 10
	},
	"Steam": {
		"apiKey": "STEAM API KEY"
	},
	"Telegram": {
		"botToken": "Telegram Bot Token",
		"botOwnerID": "Telegram Chat ID",
		"allowRequests": true
	},
	"Screenshot": {
		"saveScreenshot": true,
		"sendScreenshot": true
	}
}