{
	"General": {
		"allowRequests": true,
		"messages": "default",
		"checkInterval": 10
	},
	"Steam": {
		"apiKey": "STEAM API KEY"
	},
	"Telegram": {
		"botToken": "Telegram Bot Token",
		"masterChatID": "Telegram Chat ID"
	}
}